{% extends "main.html" %}

{% block content %}
<div class="page-not-found">
    <img src="/images/404.png" alt="Not found" />
    <h1>Page not found.</h1>
    <h2>You probably weren't expecting to land here.</h2>
    <h3>Here are some useful links instead:</h3>
    <ul>
        <li><a href="/projects/userguide/en/latest/content_management/create_content_basic/">Creating content</a></li>
        <li><a href="/projects/userguide/en/latest/content_management/content_publishing/publishing/">Publishing</a></li>
        <li><a href="/projects/userguide/en/latest/search">Searching</a></li>
    </ul>
</div>
{% endblock %}
/projects/userguide/en/latest/content_management/create_content_basic/
